### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
keeweb/

# Tauri / Rust
target/
src-tauri/target/
gen/

# Frontend build
dist/
node_modules/

# Logs
*.log
